In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("customer.csv")

In [3]:
df.sample(5)

    age  gender   review education purchased
36   34  Female     Good        UG       Yes
34   86    Male  Average    School        No
18   19    Male     Good    School        No
24   16  Female  Average        PG       Yes
5    31  Female  Average    School       Yes

In [4]:
df = df.iloc[:,2:]

In [7]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [ ]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_

In [8]:
from sklearn.preprocessing import OrdinalEncoder